/* Register Page Styling */
.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10%;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    background: white;
    padding: 50px 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    margin-top: -200px;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }
  
  .register-form .form-group {
    margin-bottom: 15px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .primary-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .primary-btn:hover {
    background: #0056b3;
  }
  
  /* Error Styling */
  .error {
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
  }
  