.table-auto {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table-auto th {
    background-color: #003366;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .table-auto td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .table-auto tr:nth-child(even) td {
    background-color: #e9ecef;
  }
  
  .table-auto tr:hover td {
    background-color: #d6e9f9;
  }
  
  .actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add space between buttons */
  }
  
  .actions .edit {
    color: #007bff;
  }
  
  .actions .edit:hover {
    color: #0056b3;
  }
  
  .actions .delete {
    color: #dc3545;
  }
  
  .actions .delete:hover {
    color: #a71d2a;
  }
  
  